
<ul class="navbar-nav">
@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a  class="nav-link text-dark">Hello @User.Identity.Name</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-link text-dark" href="/Home/Logout">Log out</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark"  href="/Home/MembersLanding">Login</a>
    </li>
}
</ul>
